~*.*
*/.ipynb_checkpoints/
.vscode/
.ipynb_checkpoints/
__pycache__/
__pycache__/*
__pycache__/lib.cpython-38.pyc
*.pyc
.ipynb/
.*/
_*/
*.pyc
env/
web/Pipfile
web/env/
web/bookshelf/mySession.py
web/flask_session/
web/TEMP/
web/migrations/
web/tox.ini
web/requirements-dev.txt
website/flask_session/
web/flask_session/
website/static/