localimg/
ex/
~*.*
*/.ipynb_checkpoints/
.vscode/
.ipynb_checkpoints/
__pycache__/
__pycache__/*
__pycache__/lib.cpython-38.pyc
*.pyc
.ipynb/
.*/
_*/
*.pyc
env/
web/Pipfile
web/env/
web/bookshelf/mySession.py
web/flask_session/
web/TEMP/
web/migrations/
web/tox.ini
web/requirements-dev.txt
website/flask_session/
web/flask_session/
website/static/
lesson/kw_data.xlsx
website/config.py
website/config_.py
website/bookshelf.db
website/sqlite3.exe
python_tur/diner/node_modules/
python_tur/ext/chromedriver.exe
python_tur/ext/config.py
python_tur/ext/
python_tur/ex4/ext/
cv/ext/
*/node_modules/
7z/
*.exe
secret/