{% extends "mathsym/base.html" %}

{% block content %}

<script>
  $(document).ready(function () {
    $('#formid').on('keyup keypress', function (e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });
  });
  function MSTime() {
    let d = new Date();
    let m = d.getMinutes();
    let s = d.getSeconds();
    return (m < 10 ? `0${m}` : `${m}`) + (s < 10 ? `:0${s}` : `:${s}`)
  }
  function spend_Time(x) {
    let a_=x.split(":")
    let m_=Number(a_[0])
    let s_=Number(a_[1])
    let ms_=m_*60+s_
    let d = new Date();
    let m = d.getMinutes();
    let s = d.getSeconds();
    let ms=m*60+s
    let c=ms-ms_;
    if(c<0) c=c+3600
    m=Math.floor(c / 60)
    s=c % 60
    return c;//(m < 10 ? `0${m}` : `${m}`) + (s < 10 ? `:0${s}` : `:${s}`)
  }

  function formSubmit(cid) {
    var t = document.getElementById("T" + cid);
    t.value=spend_Time(t.value)    
    document.getElementById('formid').submit();
  }
  function showCtx(cid) {
    var x = document.getElementById("content" + cid);
    var t = document.getElementById("T" + cid);
    t.value=spend_Time(t.value)
    console.log(cid,t.value)
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    for (let i = 1; i < 8; i++) {
      t = document.getElementById("T" + (cid + i));  if(t !==null) t.value=MSTime()
      x = document.getElementById("content" + (cid + i));
      if (x !== null) {
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      } else {
        continue
      }
      break;
    }
  }
</script>

<h3>{{title}}</h3>
{% set QID,TX,Name = title.split('.') %}
<div>
  {% for n in range(0,TX|int) %}
  <a href="/trythisapps/apps/{{title}}?Tx={{n}}"><button>題型{{n+1}}</button></a>
  {% endfor %}
  <div> {{book.qnote|safe}}</div>
</div>

{% endblock %}