{% extends "mathsym/base_form.html" %}
{% block content %}
<div style="position: relative;width:520px;height:400px;background-color:#fde9d9;z-index: 900;">
  <div id="content_note_panel" style="width:520px;height:400px;background-color:#ffffd8">
    <span class="cbutton" onclick="showCtx(-1);" style="position:absolute;left:300px;">下一題</span>
    {% if book==None %}
    <div style="background-color:#ffffd8">步驟：</div>
    <ul>
      <li>1.设置：(1) 選擇題型。</li>
      <li>2.做题：(1)【下一題】，(2) 做題并開始計時，(3) 填写答案。</li>
      <li>3.【確定】 --- 評判答案幷打分。</li>
      <li>4.【儲存答案】 --- 确認評分之后,儲存分數 。</li>
    </ul>
    {% else %}
    {{ book.qnote|safe }}
    {{ book.snote|safe }}
    {% endif %}
  </div>
  <form method="POST" id="formid">
    <input name="SID" type="hidden" value="{{sid}}">
    {% for TE in NTE %}
    {% if loop.previtem is defined %}
    {% set display_style = "display:none;z-index: 999;" %}
    {% else %}
    {% set display_style = "display:none;z-index: 999;" %}
    {% endif %}
    <div id="content{{TE.Id}}" style="{{display_style}}">
      <span style="position:absolute;left:10px;top:8px">命題</span>
      <input class="" value="" type="" autocomplete="off"
        style="width:450px;height:160px;position:absolute;left:45px;top:8px"></input>
      {% if TE.St is iterable and TE.St is not string %}
      <div id="" style="width:455x;height:30px;position:absolute;left:48px;top:18px;font-size: 15px;">
        {% set tm_style = "display:block" %}
        {% for St1 in TE.St %}
        {% if St1.strip().startswith("|") %}
        {% set tm_style = "display:none" %}
        {% endif %}
        {% if TE.PlainText==1 %}
        <div id="TM{{TE.Id}}_{{loop.index}}" style="{{tm_style}}"> {{St1|safe}}</div>
        {% else %}
        <div id="TM{{TE.Id}}_{{loop.index}}" style="{{tm_style}}"> \({{St1|safe}}\)</div>
        {% endif %}

        {% if not loop.nextitem is defined %}

        {% if St1.strip().startswith("|") %}
        <span onclick="showTM({{TE.Id}})"
          style="width:60px;position:absolute;left:420px;top:140px;font-size: 10px;">[續頁]</span>
        {% endif %}
        {% endif %}
        {% endfor %}

      </div>
      {% else %}
      <div style="width:440px;height:100px;position:absolute;left:48px;top:18px"> \( \Large {{TE.St|safe}}\)</div>
      {% endif %}

      <p class="Label" style="position:absolute;left:10px;top:180px">答題<br><a onclick="showkeyboard()">⌨</a> </p>

      <div
        style="display: grid;grid-template-columns: 150px 150px;margin:0;width:392px;height:90px;position:absolute;left:45px;top:180px">

        {% if TE.Val is iterable and TE.Val is not string %}
        <div style="width: 150px;">
          {% for Val1 in TE.Val %}

          <input name="{{TE.Id}}" autocomplete="off" style="width:150px;height:20px;font-size: 16px;"
            placeholder="{{TE.Tip[loop.index-1]}}">
          {% if loop.index==3 %}
        </div>
        <div style="width: 150px;">
          {% endif %}
          {% endfor %}
        </div>

        {% else %}
        <input name="{{TE.Id}}" autocomplete="off" onclick="InputEdit(this);"
          style="width:385px;height:35px;font-size: 16px;" placeholder="答題">
        {% endif %}
      </div>


      <p class="Label" style="position:absolute;left:10px;top:275px">答案</p>

      <div class="" value="" type="" autocomplete="off"
        style="width:385px;height:30px;position:absolute;left:45px;top:275px">
        <div id="Standrad_And{{TE.Id}}"></div>
      </div>

      <span id="btnSubm{{TE.Id}}" class="cbutton" onclick="CheckTE({{TE.Id}})"
        style="position:absolute;left:300px;top:220px;">确定</span>

      {% if loop.nextitem is defined %}
      <span id="btnNext{{TE.Id}}" class="cbutton" onclick="showCtx({{TE.Id}})"
        style="display:none;position:absolute;left:300px;top:220px;">下一題</span>
      {% else %}
      <span id="btnNext{{TE.Id}}" class="cbutton" onclick="formSubmit({{TE.Id}})"
        style="display:none;position:absolute;left:300px;top:220px;">儲存答案</span>
      <!--span id="btnNext{{TE.Id}}" class="cbutton" onclick="show_AnsMsgbox()" style="display:none;position:absolute;left:360px;top:25px;">儲存總表</span-->

      {% endif %}
      <input style="display:none" name="{{TE.Id+1000}}" id="T{{TE.Id}}" value="{{TE.Minute}}">

      {% if TE.PlotImg %}
      <div id="Plot{{TE.Id}}"  style="position:absolute;left:520px;top:200px;z-index: 999;">
        {% if TE.PlotImg.startswith("//") %}
        <img src="{{TE.PlotImg}}" style="height:200px;max-width: 260px">
        {% else %}
        <img src="{{remi_baseurl}}/img/{{TE.PlotImg}}" style="height:200px">
        {% endif %}
      </div>
      {% else %}
      {% endif %}
      <!-- left:345 -->

    </div>
    {% else %}
    <p>No Item .</p>
    {% endfor %}

  </form>

</div>


{% endblock %}