{% extends "base.html" %}

{% block content %}

<script>
  $(document).ready(function () {
    $('#formid').on('keyup keypress', function (e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) {
        e.preventDefault();
        return false;
      }
    });
  });
  function MSTime(x=null) {
    if(x==null){
      let d = new Date();
      let m = d.getMinutes();
      let s = d.getSeconds();
      return (m < 10 ? `0${m}` : `${m}`) + (s < 10 ? `:0${s}` : `:${s}`)
    }else{
      let m=Math.floor(x / 60);
      let s=x%60;
      return (m < 10 ? `0${m}` : `${m}`) + (s < 10 ? `:0${s}` : `:${s}`)
    }
  }
  function spend_Time(x) {
    let a_=x.split(":")
    let m_=Number(a_[0])
    let s_=Number(a_[1])
    let ms_=m_*60+s_
    let d = new Date();
    let m = d.getMinutes();
    let s = d.getSeconds();
    let ms=m*60+s
    let c=ms-ms_;
    if(c<0) c=c+3600
    return MSTime(c);
  }

  function formSubmit(cid) {
    //var t = document.getElementById("T" + cid);
    //t.value=spend_Time(t.value)    
    document.getElementById('formid').submit();
  }
  function showCtx(cid) {
    
    var x = document.getElementById("content" + cid);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    var t = document.getElementById("T" + cid);
    for (let i = 1; i < 8; i++) {
      t = document.getElementById("T" + (cid + i));  if(t !==null) t.value=MSTime()
      x = document.getElementById("content" + (cid + i));
      if (x !== null) {
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      } else {
        continue
      }
      break;
    }
  }
  function CheckTE(i){
    var t = document.getElementById("T" + i);
    t.value=spend_Time(t.value)
    $.post( `?fmt=JSON&TEid=${i}`, $( "#formid" ).serialize(), function( data ) {
       let d=JSON.parse(data)
       if(d.OK=="1")
       {
        $(`#OK${i}`).html('<span class="glyphicon glyphicon-ok"></span>');  
       }
       else{
        $(`#OK${i}`).html('<span class="glyphicon glyphicon-remove"></span>');
       }
       $(`#Mark${i}`).html(d.Mark);
       $(`#SpendMinute${i}`).html(d.Minute);
       $(`#Standrad_And${i}`).html(d.Val);
       
    });
    document.getElementById("btnNext" + i).style.display = "block";
    //document.getElementById("btnSubm" + i).style.display = "none";
    document.getElementById("btnSubm" + i).disabled = true;
  }
</script>

<div style="margin: auto;width: 50%;min-width: 350px;">
  <form method="POST" id="formid">
    <P>
      <input name="SID" type="hidden" value="{{sid}}">
    </P>
    {% for TE in NTE %}
    {% if loop.previtem is defined %}
    {% set display_style = "display:none" %}
    {% else %}
    {% set display_style = "display:block" %}
    {% endif %}
    <div id="content{{TE.Id}}" style="{{display_style}}">
      <div style="padding-bottom: 10px;">題目{{TE.Id+1}}:</div>
      {% if TE.St is iterable and TE.St is not string %}

      {% for St1 in TE.St %}
      <div> \({{St1|safe}}\)</div>
      {% endfor %}

      {% else %}
      <div> \( \Large {{TE.St|safe}}\)</div>
      {% endif %}
      <div style="padding-top: 10px;">{{TE.Tip}}</div>
      {% if TE.Val is iterable and TE.Val is not string %}
      {% for Val1 in TE.Val %}
      <div>作答:<input name="{{TE.Id}}" autocomplete="off"></div>
      {% endfor %}
      {% else %}
      <div>作答:<input name="{{TE.Id}}" autocomplete="off"></div>
      {% endif %}

      <input style="display:none" name="{{TE.Id+1000}}" id="T{{TE.Id}}" value="{{TE.Minute}}">
      {% if TE.PlotImg %}
      <img src="/trythisapps/img/{{TE.PlotImg}}">
      {% else %}
      
      {% endif %}


      
      <div style="padding-top: 20px;">
      <button id="btnSubm{{TE.Id}}"  class="btn btn-primary" onclick="CheckTE({{TE.Id}})">提交</button>
      </div>
      <div>評核:</div>
      <table class="table">
        <tr>
          <td>對/錯</td>
          <td>得分</td>
          <td>耗時</td>          
        </tr>
        <tr>
        <td><h4 id="OK{{TE.Id}}"></h4></td>  
        <td><h4 id="Mark{{TE.Id}}"></h4></td>  
        <td><h4 id="SpendMinute{{TE.Id}}"></h4></td>  
        </tr>
      </table>
      
      <div>標準答案:</div>
      <div id="Standrad_And{{TE.Id}}" style="font-size: 24px;">

      </div>
      {% if loop.nextitem is defined %}
      <div id="btnNext{{TE.Id}}" style="padding-top: 20px;display:none"><a class="btn btn-primary" href=# onclick="showCtx({{TE.Id}})">下一題</a></div>
      {% else %}
      <div id="btnNext{{TE.Id}}" style="padding-top: 20px;display:none"><a class="btn btn-warning" href=# onclick="formSubmit({{TE.Id}})">預覽小結</a></div>      
      {% endif %}

    </div>
    {% else %}
    <p>No Item .</p>
    {% endfor %}

  </form>
  
</div>
{% endblock %}