
{% extends "base.html" %}

{% block content %}
<div>支援 chrome 瀏覽器.</div>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table id="desc" class="table">
{% for book in books %}
{% if book[:2]==s  %}
{% set QID,TX,Name = book.split('.') %}
<tr><td>
<div class="media">
  <a href="/trythisapps/{{book}}/view">
    <h4>
      {% if s=="PP" %}
      <img src="//mail.mbc.edu.mo/images/mathicons/math_history_{{loop.index}}.png">
      {% endif %}
      {{loop.index}}. {{Name}}      
      
    </h4>
    <small>{{QID}}{{Name}}</small>
  </a>
</div>
<div>
  {% for n in range(0,TX|int) %}
  <a href="/trythisapps/{{book}}?Tx={{n}}"><button>題型{{n+1}}</button></a>
  {% endfor %}
</div>
</td>  
</tr>
{% endif %}
{% else %}
<tr><td><p>No books found</p></td></tr>
{% endfor %}
</table>

<footer>
<p class="float-right">
  <a href="#"> Back to top</a>
  <div>Macau Baptist College. All Rights Reserved</div>
</p>
</footer>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#desc tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});      
</script>

{% endblock %}